<!DOCTYPE html>
<html>
<head>
	<title>Nebula Lounge - About Us</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Space+Mono&display=swap" rel="stylesheet">
</head>
<body>
	<nav>
		<div class="bar">
			<div class="logo">
				<h1>About</h1>
			</div>
			<ul>
				<li><a href="{{ url_for('drinks') }}">Drinks</a></li>
				<li><a href="{{ url_for('food') }}">Food</a></li>
				<li><a href="{{ url_for('locations') }}">Locations</a></li>
				<li><a href="{{ url_for('about') }}">About</a></li>
				<li><a href="{{ url_for('home') }}">Home</a></li>
			</ul>
		</div>
	</nav>


	<div class="header">
		<h1 class="welcome-text">The Universe Unfolds in Every Glass</h1>
	</div>

	<div class="container">
		<p>Welcome to The Nebula Lounge, an exquisite club nestled across the vibrant quadrants of the Andromeda galaxy. Our unrivaled fusion of celestial beverages, delectable cuisine, and opulent atmosphere distinguishes us from any other establishment in the cosmos.</p>
		<p>Our esteemed franchise is committed to curating an unforgettable experience for each distinguished guest who graces our threshold. As you cross the portal into our sleek, contemporary haven, you will be swept away to a transcendent realm where celestial bodies are at your fingertips.</p>
		<p>At The Nebula Lounge, our unwavering devotion to excellence ensures that each libation and dish is meticulously crafted by our virtuoso mixologists and culinary masters. Our heavenly concoctions and culinary delights are composed of only the most exceptional ingredients, hand-picked from the far reaches of the galaxy, culminating in an otherworldly symphony of flavors.</p>
		<p>Our distinguished franchise caters to the discerning clientele who revel in life's most refined pleasures. From our sumptuous seating to our cutting-edge illumination system, every facet of The Nebula Lounge has been thoughtfully conceived to deliver an unparalleled, indulgent experience for both your palate and senses.</p>
	</div>
	<footer class="footer">
        <p>&copy; 2023 Nebula Lounge. All rights reserved.</p>
    </footer>
    
</body>