<!DOCTYPE html>
<html>
<head>
    <title>Nebula Lounge - Locations</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Space+Mono&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="bar">
            <div class="logo">
                <h1>Locations</h1>
            </div>
            <ul>
				<li><a href="{{ url_for('drinks') }}">Drinks</a></li>
				<li><a href="{{ url_for('food') }}">Food</a></li>
				<li><a href="{{ url_for('locations') }}">Locations</a></li>
				<li><a href="{{ url_for('about') }}">About</a></li>
				<li><a href="{{ url_for('home') }}">Home</a></li>
            </ul>
        </div>
    </nav>


	<div class="header">
		<h1 class="welcome-text">Galactic Coordinates to Impeccable Flavor</h1>
	</div>


	<div class="locations-page">
		<h1>Discover the wonders of our celestial venues at The Nebula Lounge. We have chosen the most extraordinary destinations in the Andromeda galaxy to ensure an otherworldly experience for our guests. Visit our exceptional establishments at these remarkable space coordinates:</h1>
		<br>
		<br>
		<div class="bars-container">
			<table class="nebula-table">
			  <tr>
				<th>Location</th>
				<th>Quadrant</th>
				<th>Galactic Longitude</th>
				<th>Galactic Latitude</th>
			  </tr>
			  <tr>
				<td>The Nebula Lounge</td>
				<td>14th Quadrant</td>
				<td>110.5 degrees</td>
				<td>45.3 degrees</td>
			  </tr>
			  <tr>
				<td>The Nebula Lounge</td>
				<td>18th Quadrant</td>
				<td>310.2 degrees</td>
				<td>-20.1 degrees</td>
			  </tr>
			  <tr>
				<td>The Nebula Lounge</td>
				<td>21st Quadrant</td>
				<td>225.7 degrees</td>
				<td>15.8 degrees</td>
			  </tr>
			  <tr>
				<td>The Nebula Lounge</td>
				<td>9th Quadrant</td>
				<td>60.1 degrees</td>
				<td>-60.5 degrees</td>
			  </tr>
			  <tr>
				<td>The Nebula Lounge</td>
				<td>4th Quadrant</td>
				<td>15.9 degrees</td>
				<td>35.2 degrees</td>
			  </tr>
			  <tr>
				<td>The Nebula Lounge</td>
				<td>12th Quadrant</td>
				<td>290.6 degrees</td>
				<td>-10.3 degrees</td>
			  </tr>
			</table>
		  </div>
		  
	  
	  

		  <footer class="footer">
			<p>&copy; 2023 Nebula Lounge. All rights reserved.</p>
		</footer>
</body>
</html>
